.post {
  max-width: 1100px;
}

.post .title {
  margin-block: 1rem 0.5rem;
  font-size: calc(2rem + 0.75vw);
  font-weight: bold;
  border: none;
  color: var(--light);
  outline: none;
  background: transparent;
  width: 100%;
  text-align: center;
}

.post ul,
.post ol {
  padding-left: 1.5rem;
  margin-block: 1rem;
}

.post ul {
  list-style: disc;
}

.post ol {
  list-style: decimal;
}

.meta {
  font-weight: 500;
  text-align: center;
}

.username {
  color: var(--red);
}

.date {
  color: #c1c1c1;
}

.post {
  text-align: start;
  background: transparent;
  color: var(--light);
  font-size: 1.4rem;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 0.75rem;
  color: var(--red);
}

.post:not(:has(.preview)) .title {
  margin-bottom: -1rem;
}

.post p {
  margin-top: 0.75rem;
}

.preview {
  max-height: 28rem;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.postComment {
  margin-top: 0.5rem;
  display: grid;
  border-radius: 0.5rem;
  border: 2px solid var(--grey);
  overflow: hidden;
  margin-bottom: 1rem;
}

.postComment textarea {
  resize: none;
  background-color: transparent;
  border: none;
  color: var(--light);
  padding: 0.5rem;
}

.postComment textarea:focus {
  outline: none;
}

.postComment button {
  padding: 0.35rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  color: var(--light);
  border-top: 2px solid var(--grey);
  background-color: var(--darker-blue);
  cursor: pointer;
  will-change: filter;
  transition: filter 0.1s;
}

.postComment button:hover {
  filter: brightness(1.2);
}

.comment {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--grey);
  border-radius: 0.5rem;
  background-color: var(--darker-blue);
  align-items: center;
}

.comment .meta {
  text-align: left;
  margin-block: 0;
}

.postNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem 1rem;
}

.postNav .meta {
  margin-right: auto;
}
.editBtn,
.deleteBtn {
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  display: flex;
  border-radius: 0.25rem;
  transition: background-color 0.1s;
}

.deleteBtn {
  color: var(--red);
}

.editBtn:hover,
.deleteBtn:hover {
  background-color: var(--grey);
}

.editBtn svg,
.deleteBtn svg {
  margin: auto;
  fill: none;
}

.disabled {
  content-visibility: hidden;
  pointer-events: none;
}
